backports-abc==0.5
certifi==2018.8.24
click==7.0
Jinja2==2.10
livereload==2.5.2
Markdown==3.0.1
MarkupSafe==1.0
mkdocs==1.0.4
PyYAML==3.13
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1.1
mkdocs-material==3.0.4
