backports-abc==0.5
certifi==2018.1.18
click==6.7
Jinja2==2.10
livereload==2.5.1
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==0.17.3
PyYAML==3.12
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.3
mkdocs-material==2.7.0
