---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: {{[title]}} - Change History</h2>
  <p>History of changes for {{[id]}} {{type | downcase}}.</p>

  {%include {{[type]}}-{{[id]}}-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
