  <table class="{{site.data.resources[resource_].status.class}}">
    <tr>
{% if site.data.resources[resource_].status.fmm %}
  {% assign colspan = 1 %}
{% else %}
  {% assign colspan = 2 %}
{% endif %}
      <td colspan="{{colspan}}">
        {% if site.data.resources[resource_].status.standards-status %}
          <i>Page standards status:</i> <a href="{{site.data.fhir.path}}versions.html#std-process" title="Standard Status">{{site.data.resources[resource_].status.standards-status|capitalize}}</a>
          {% if site.data.resources[resource_].status.normativeVersion %}
            (from v{{site.data.resources[resource_].status.normativeVersion}})
          {% endif %}
        {% else %}
          {{site.data.resources[resource_].status.status}}
          {% if site.data.resources[resource_].date %}
            as of {{site.data.resources[resource_].date | date: "%Y-%m-%d"}}
          {% endif %}
        {% endif %}
      </td>
{% if site.data.resources[resource_].status.fmm %}
      <td>
        <a href="{{site.data.info.fmm-definition}}">Maturity Level</a>: {{site.data.resources[resource_].status.fmm}}
        {% if site.data.resources[resource_].status.fmmSource %}
          <span title="{{site.data.resources[resource_].status.fmmSource}}">*</span>
        {% endif %}
      </td>
{% endif %}
    </tr>
  </table>
