  <table class="{{site.data.resources[resource_].status.class}}">
{% if site.data.resources[resource_].url != nil %}
    <tr>
      <td colspan="4"><i>Official URL</i>: <span class="copy-text">{{site.data.resources[resource_].url}}<button title="Click to copy URL" class="btn-copy" data-clipboard-text="{{site.data.resources[resource_].url}}"/></span>
      </td>
      <td><i>Version</i>:
      <span class="copy-text">{{site.data.resources[resource_].version}}<button title="Click to copy versioned URL" class="btn-copy" data-clipboard-text="{{site.data.resources[resource_].url}}|{{site.data.resources[resource_].version}}"/></span>
      </td>
    </tr>
{% endif %}
    <tr>
{% capture newJurisdictions %}
{% for jurisdiction in site.data.resources[resource_].jurisdictions %}
{% assign foundRes = false %}
{% for igjur in site.data.resources[igId].jurisdictions %}
{% if igjur.name == jurisdiction.name %}
{% assign foundRes = true %}
{% break %}
{% endif %}
{% endfor %}
{% if foundRes == false %}
{% if jurisdiction.flag %}
  <img alt="{{jurisdiction.name}} flag" src="assets/images/{{jurisdiction.flag}}.svg" height="16" title="{{jurisdiction.name}}"/>
{% elsif jurisdiction.code %}
  <span title="{{jurisdiction.name}}">{{jurisdiction.code}}</span>
{% else %}
  {{jurisdiction.name}}
{% endif %}
{% endif %}
{% endfor %}
{% endcapture %}
{% assign trimmedJurisdictions = newJurisdictions | strip %}

{% assign colspan = 1 %}
{% if site.data.resources[resource_].status.fmm == nil %}
  {% assign colspan = colspan | plus: 1 %}
{% endif %}
{% if site.data.resources[igId].status.owner == site.data.resources[resource_].status.owner %}
  {% assign colspan = colspan | plus: 1 %}
{% endif %}
{% if trimmedJurisdictions == "" %}
  {% assign colspan = colspan | plus: 1 %}
{% endif %}
      <td colspan="{{colspan}}">
        {% if site.data.resources[resource_].status.standards-status %}
          <i>
            {% if table_prefix != nil %}
              {{table_prefix}}
            {% endif %}
            Standards status:
          </i> <a href="{{site.data.fhir.path}}versions.html#std-process" title="Standard Status">{{site.data.resources[resource_].status.standards-status|capitalize}}</a>
          {% if site.data.resources[resource_].status.normativeVersion %}
            (from v{{site.data.resources[resource_].status.normativeVersion}})
          {% endif %}
        {% else %}
          {{site.data.resources[resource_].status.status}}
          {% if site.data.resources[resource_].date %}
            as of {{site.data.resources[resource_].date | date: "%Y-%m-%d"}}
          {% endif %}
        {% endif %}
      </td>
{% if site.data.resources[resource_].status.fmm %}
      <td>
        <a href="{{site.data.info.fmm-definition}}">Maturity Level</a>: {{site.data.resources[resource_].status.fmm}}
        {% if site.data.resources[resource_].status.fmmSource %}
          <span title="{{site.data.resources[resource_].status.fmmSource}}">*</span>
        {% endif %}
      </td>
{% endif %}
{% if site.data.resources[igId].status.owner != site.data.resources[resource_].status.owner and site.data.resources[resource_].status.owner != nil %}
      <td>
        <i>Responsible:</i> 
{% if site.data.resources[resource_].status.link %}
        <a href="{{site.data.resources[resource_].status.link}}">{{site.data.resources[resource_].status.owner}}</a>
{% else %}
        {{site.data.resources[resource_].status.owner}}
{% endif %}
      </td>
{% endif %}
{% if trimmedJurisdictions != "" %}
      <td>
        <i>Realm:</i> {{trimmedJurisdictions}}
      </td>
{% endif %}
      <td><i>Computable Name</i>: <span style="font-family: monospace;">{{site.data.resources[resource_].name}}</span></td>
    </tr>
{% if site.data.resources[resource_].identifiers %}
    <tr>
      <td colspan="5">
        <i>Other Identifiers:</i> {{site.data.resources[resource_].identifiers}}
      </td>
    </tr>
{% endif %}
{% if site.data.resources[resource_].keywords %}
    <tr>
      <td colspan="5">
        <i>Keywords:</i> {{site.data.resources[resource_].keywords}}
      </td>
    </tr>
{% endif %}
{% if site.data.resources[resource_].contexts %}
    <tr>
      <td colspan="5">{{site.data.resources[resource_].contexts | prepend: '*Usage:*' | markdownify}}</td>
    </tr>
{% endif %}
{%if site.data.resources[resource_].copyright %}
    <tr>
      <td colspan="5">{{site.data.resources[resource_].copyright | prepend: "*Copyright/Legal*: " | markdownify}}</td>
    </tr>
{% endif %}
  </table>